# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://<projectname-lab-resource>.openai.azure.com/openai/v1
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_API_KEY=<enter api key>

# Azure AI Search
AZURE_AI_SEARCH_ENDPOINT=
AZURE_AI_SEARCH_KEY=

# Azure AI Foundry
FOUNDRY_PROJECT_ENDPOINT=https://<projectresource>.services.ai.azure.com/api/projects/<projectname>
FOUNDRY_MODEL_DEPLOYMENT=gpt-5
FOUNDRY_AGENT_NAME=<foundry-agent-name>

# Lab 04 - Foundry IQ
FOUNDRY_PROJECT_ENDPOINT_CONTOSO=https://<lab04-project>.services.ai.azure.com/api/projects/<foundryname>
FOUNDRY_AGENT_NAME_CONTOSO=product-expert-agent-name
FOUNDRY_KNOWLEDGEBASE_CONTOSO=ks-contosoproducts-name

# Lab 07 - Multi-Agent
FOUNDRY_AGENT_NAME_MULTI=multi-agent-orchestrator
FOUNDRY_PROJECT_ENDPOINT_MULTI=https://<zelfde-project>.services.ai.azure.com/api/projects/...
FOUNDRY_MODEL_DEPLOYMENT_MULTI=gpt-4.1-mini

