# Azure OpenAI
AZURE_OPENAI_ENDPOINT=https://<projectname-lab-resource>.openai.azure.com/openai/v1
AZURE_OPENAI_DEPLOYMENT=gpt-4.1-mini
AZURE_OPENAI_API_KEY=<enter api key>

# Azure AI Search
AZURE_AI_SEARCH_ENDPOINT=
AZURE_AI_SEARCH_KEY=

# Azure AI Foundry
FOUNDRY_PROJECT_ENDPOINT=https://<projectresource>.services.ai.azure.com/api/projects/<projectname>
FOUNDRY_AGENT_NAME=<foundry-agent-name>
